## Step 1 - Imports
- Import bq, pandas and numpy

In [26]:
import google.datalab.bigquery as bq
import pandas as pd
import numpy as np

## Step 2 - Load Data

### Step 2.1 - Get the matches

In [27]:
%%bq query -n matches
SELECT match,home, away, HomeCode, AwayCode, HomeWin, Draw, AwayWin FROM `project-paul-the-octopus.kanjih.matches` LIMIT 1000

In [28]:
%%bq sample --count 5 --query matches

QueryResultsTable job_eWeP-tpuCyXYuCJdXZ0xCuEyxPUY

### Step 2.2 - Put the data in a dataframe

In [32]:
df = matches.execute(output_options=bq.QueryOutput.dataframe()).result()
len(df)

48

## Step 3 - Prediction

### Step 3.1 - Predication Layer 1 (Generate winner by score match)

In [33]:
df['homeScore'] = np.where((df["HomeWin"]-df["AwayWin"]) > 10, 1, 0)
df['awayScore'] = np.where((df["AwayWin"]-df["HomeWin"]) > 10, 1, 0)
df

,match,home,away,HomeCode,AwayCode,HomeWin,Draw,AwayWin,homeScore,awayScore
0,1,Tunisia,England,TUN,ENG,10,19,71,0,1
1,1,Egypt,Uruguay,EGY,URU,17,27,56,0,1
2,1,Portugal,Spain,POR,ESP,22,27,51,0,1
3,1,Peru,Denmark,PER,DEN,25,28,47,0,1
4,1,Costa Rica,Serbia,CRC,SRB,25,28,47,0,1
5,1,Morocco,Iran,MAR,IRN,42,31,27,1,0
6,1,Poland,Senegal,POL,SEN,42,30,28,1,0
7,1,Sweden,South Korea,SWE,KOR,45,29,26,1,0
8,1,Croatia,Nigeria,CRO,NGA,51,28,21,1,0
9,1,Colombia,Japan,COL,JPN,55,27,18,1,0
10,1,Germany,Mexico,GER,MEX,67,22,11,1,0
11,1,Brazil,Switzerland,BRA,SUI,69,20,11,1,0
12,1,Russia,Saudi Arabia,RUS,KSA,72,20,8,1,0
13,1,Argentina,Iceland,ARG,ISL,72,20,8,1,0
14,1,France,Australia,FRA,AUS,79,15,6,1,0
15,1,Belgium,Panama,BEL,PAN,81,13,6,1,0
16,2,Iran,Spain,IRN,ESP,5,14,81,0,1
17,2,South Korea,Mexico,KOR,MEX,20,28,52,0,1
18,2,Japan,Senegal,JPN,SEN,32,29,39,0,0
19,2,Poland,Colombia,POL,COL,32,30,38,0,0
20,2,Serbia,Switzerland,SRB,SUI,33,30,37,0,0
21,2,Nigeria,Iceland,NGA,ISL,34,32,34,0,0
22,2,Russia,Egypt,RUS,EGY,49,28,23,1,0
23,2,Argentina,Croatia,ARG,CRO,51,27,22,1,0
24,2,Denmark,Australia,DEN,AUS,55,26,19,1,0
25,2,Portugal,Morocco,POR,MAR,62,24,14,1,0
26,2,Germany,Sweden,GER,SWE,64,23,13,1,0
27,2,France,Peru,FRA,PER,71,19,10,1,0
28,2,Belgium,Tunisia,BEL,TUN,76,17,7,1,0
29,2,Uruguay,Saudi Arabia,URU,KSA,77,17,6,1,0
30,2,Brazil,Costa Rica,BRA,CRC,77,16,7,1,0
31,2,England,Panama,ENG,PAN,81,14,5,1,0
32,3,South Korea,Germany,KOR,GER,8,18,74,0,1
33,3,Iran,Portugal,IRN,POR,11,20,69,0,1
34,3,Serbia,Brazil,SRB,BRA,11,19,70,0,1
35,3,Denmark,France,DEN,FRA,16,25,59,0,1
36,3,Nigeria,Argentina,NGA,ARG,16,25,59,0,1
37,3,Saudi Arabia,Egypt,KSA,EGY,17,26,57,0,1
38,3,Iceland,Croatia,ISL,CRO,20,26,54,0,1
39,3,Japan,Poland,JPN,POL,22,28,50,0,1
40,3,Senegal,Colombia,SEN,COL,24,28,48,0,1
41,3,Australia,Peru,AUS,PER,28,28,44,0,1
42,3,Panama,Tunisia,PAN,TUN,28,30,42,0,1
43,3,England,Belgium,ENG,BEL,32,29,39,0,0
44,3,Uruguay,Russia,URU,RUS,39,30,31,0,0
45,3,Mexico,Sweden,MEX,SWE,40,29,31,0,0
46,3,Switzerland,Costa Rica,SUI,CRC,50,28,22,1,0
47,3,Spain,Morocco,ESP,MAR,69,20,11,1,0

## STEP 4 - Clean Data

In [36]:
df_to_print = df[['home', 'homeScore', 'awayScore','away']].copy()
df_to_print

            home  homeScore  awayScore          away
0        Tunisia          0          1       England
1          Egypt          0          1       Uruguay
2       Portugal          0          1         Spain
3           Peru          0          1       Denmark
4     Costa Rica          0          1        Serbia
5        Morocco          1          0          Iran
6         Poland          1          0       Senegal
7         Sweden          1          0   South Korea
8        Croatia          1          0       Nigeria
9       Colombia          1          0         Japan
10       Germany          1          0        Mexico
11        Brazil          1          0   Switzerland
12        Russia          1          0  Saudi Arabia
13     Argentina          1          0       Iceland
14        France          1          0     Australia
15       Belgium          1          0        Panama
16          Iran          0          1         Spain
17   South Korea          0          1        Mexico
18         Japan          0          0       Senegal
19        Poland          0          0      Colombia
20        Serbia          0          0   Switzerland
21       Nigeria          0          0       Iceland
22        Russia          1          0         Egypt
23     Argentina          1          0       Croatia
24       Denmark          1          0     Australia
25      Portugal          1          0       Morocco
26       Germany          1          0        Sweden
27        France          1          0          Peru
28       Belgium          1          0       Tunisia
29       Uruguay          1          0  Saudi Arabia
30        Brazil          1          0    Costa Rica
31       England          1          0        Panama
32   South Korea          0          1       Germany
33          Iran          0          1      Portugal
34        Serbia          0          1        Brazil
35       Denmark          0          1        France
36       Nigeria          0          1     Argentina
37  Saudi Arabia          0          1         Egypt
38       Iceland          0          1       Croatia
39         Japan          0          1        Poland
40       Senegal          0          1      Colombia
41     Australia          0          1          Peru
42        Panama          0          1       Tunisia
43       England          0          0       Belgium
44       Uruguay          0          0        Russia
45        Mexico          0          0        Sweden
46   Switzerland          1          0    Costa Rica
47         Spain          1          0       Morocco

## Step 5 - Print CSV

In [37]:
%%gcs write --variable df_to_print --object 'gs://paul_kanjih_v1/result_v1.csv'